@import '../../index.css';

@media screen and (orientation:portrait) {
  .header {
    font-size: 10dvw;
    padding: 2dvw
  }
}

@media screen and (orientation:landscape) {
  .header {
    font-size: 10dvh;
    padding: 2dvh
  }
}
