@import '../../index.css';

@media (pointer:fine) {
  .header {
    font-size: 10lvh;
    padding: 5lvh
  }
}

@media (pointer:coarse) {
  @media screen and (orientation:portrait) {
    .header {
      font-size: 10lvw;
      padding: 5lvw
    }
  }

  @media screen and (orientation:landscape) {
    .header {
      font-size: 10lvh;
      padding: 5lvh
    }
  }
}