/* @import '../../index.css';*/

#keyboard-container {
  display: flex;
  /* -webkit-user-drag: none; */
}

#keyboard-inner {
  margin: auto auto;
}

.key {
  border: thin solid white;
  display: flex;
  border-radius: 100%;
  position: absolute;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* -ms-user-select: none; */
  /* -webkit-tap-highlight-color: transparent; */
  /* touch-action: manipulation; */
}

.text {
  margin: auto auto;
  /* pointer-events: none; */
}

@media (pointer:fine) {
  .touchscreen {
    display: none;
  }
}

@media (pointer:coarse) {
  .computer {
    display: none;
  }
}

@media screen and (orientation:portrait) {
  .key {
    width: 48px;
    height: 48px;
  }
}

@media screen and (orientation:landscape) {
  .key {
    width: 48px;
    height: 48px;
  }
}