body {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  touch-action: none;
}


@media screen and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: bottom;
    position: absolute;
    top: 25vh;
    right: 10vw;
  }
}