@media screen and (orientation:portrait) {
  html {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform-origin: bottom left;
    height: 100dvw;
    width: 100dvh;
    position: absolute;
    top: -100dvw;
  }
}



body {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  touch-action: none;
  overscroll-behavior: none;
  overflow: hidden;
}
